.message {
    @include tablet {
        font-size: 22px;
    }
    @include desktop {
        font-size: 26px;
    }

    position: relative;

    margin-top: 15px;
    padding: 0.5em 1em;

    color: $text-color;
    border: 1px solid $text-color;
    border-left-width: 5px;

    font-size: 15px;
    line-height: 1.4;

    &--success {
        border-color: $text-succes-color;
    }

    &--warning {
        border-color: $text-warning-color;
    }

    &--danger {
        border-color: $text-primary-color;
    }

    @media print {
        color: $print-primary-color;
        border-color: $print-secondary-color;
    }
}

.message__advice {
    margin: 0;

    @media print {
        display: none;
    }
}

.message__wish {
    margin: 0;
}

.message__holiday {
    margin: 0;

    &--hidden {
        display: none;
    }

    @media print {
        display: none;
    }
}
