$bg-color: #141414;
$coffee-color: #362d26;
$text-color: #ffffff;
$text-primary-color: #ff0a2e;
$text-succes-color: #359c35;
$text-warning-color: #cecc4e;

$print-bg-color: #ffffff;
$print-primary-color: #000000;
$print-secondary-color: #666666;
