@font-face {
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-style: normal;

    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
    font-display: swap;
}
